.cell{
    background-color: #DCC9B5;
    width: 112px;
    height: 108px;
    color: #313253;
    border: 3px solid;
    box-shadow: 0 3px 0 3px;
    line-height: 108px;
    font-size: 108px;
    cursor: pointer;
}
#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
    background-image: url("./img/bg.svg");
    background-repeat:space;

    
}
#cellContainer{
    background-color: #DCC9B5;
    display:grid;
    grid-template-columns: repeat(3, auto);
    width: 350px;
    margin: auto;
}